$tableHeaderColor: #04379e;
$tableRowHeaderColor: #022670;


.th {
  color: $tableHeaderColor;
}

.thr {
  color: $tableRowHeaderColor;
}

.th, .thr {
  font-weight: bold;
}

.table-rates .row .col-md-3 {
  border: 1px solid black;
}
